<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcl.carehe.app.api.user.mapper.UserCertificationMapper">
	
   <select id="findUserByUserId" 
    	resultType="java.util.HashMap">
      <![CDATA[
      	SELECT A.acc_id, A.user_id, A.sys_gbn, A.acc_type, id,
      	       A.pwd, A.usr_salt, A.use_yn, A.del_yn, A.reg_id,
      	       A.reg_dt, A.mod_id, A.mod_dt
      	FROM MB_USER_ACCS A
      	WHERE id = #{id}
      ]]>  
   </select>
</mapper>